footer{
  section{
    .container-section{
      .row{
        display: flex;
        justify-content: center;
        margin: 20px;
        .col{
       margin: 10px;
      }}}
}
    /*.categoria-h2{
      display: flex;
      justify-content: center;
      text-align: center;
      h2{
      font-size: 30px;}
    }*/
  }