main{
  section{
    display: flex;
    flex-wrap: wrap;
    .section2{
      display: flex;
    flex-wrap: wrap;
    }
  }
   
  
  .categoria-h2-productos{
    display: flex;
    margin: 20px;
    
    h2{
        font-size: 30px;
        text-align: center;
        color: #000000;
        text-decoration: underline;
        text-decoration-style:double ;}
  }
  

  .categorias-productos{
    /*display: flex;*/
    justify-content:center;
    flex-direction: row;
    margin: 20px;
    a{
      text-decoration: none;
      border: #a2caf1 solid 2px;
      font-weight: 500;
      padding: 10px;
      margin: 20px;
      color: black;
    }
  } 
  
  
  .productos-1{
    h3{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-wrap: wrap;
    text-decoration: underline;
    text-decoration-style:double ;}
}
.higiene-2 {
  h3 {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center; 
    flex-wrap: wrap;
    text-decoration: underline;
    text-decoration-style:double ;}
}
  .accesorios-3 {
    h3{
      display: flex;
      justify-content: center;
      text-align: center;
      align-items: center;
      flex-wrap: wrap;
      text-decoration: underline;
      text-decoration-style:double ;}
}
}
