main{
    .contactos-h2{
      display: flex;
      justify-content: center;
      text-decoration: underline;
      text-decoration-style: double;
    }
    .contactos{
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      margin: 10px;
    }
    .link-wp {
      a{
      text-decoration: none;
      font-size: 20px;
      font-weight: 500;
      color: black;
      text-decoration: underline;
      text-decoration-style: double;
    }
    }
  }