main{
    .texto-inicio{
     display: flex;
    justify-content: center;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
    h1{
      font-size: 30px;
      text-decoration: underline;
      text-decoration-style: double;
      text-align: center;
    }
    }
    .texto {
    display: flex;
    justify-content: center;
    margin-left: 20px;
    margin-right: 20px;
    h3 {
        font-size: 20px;
        text-align: center;
        margin-top: 40px;
        border:  #000000 2px solid;
        padding: 20px;
        color: black;}
      }
      .texto-gif{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
    h1{
      font-size: 30px;
      text-decoration: underline;
      text-decoration-style: double;
      text-align: center;
    }
      }
      
  article{
    .container-section{
      .row{
        display: flex;
        justify-content: center;
        margin: 20px;
        
        .col{
       padding: 10px;
       background-color: #a2caf1;
       margin: 10px;
       border: black 2px solid;
      }
    }
  }
  }
}